#nav-links{
text-align: end;
border-right: 100px;
padding: 0px 20px 20px 20px;
background-color: rgb(78, 145, 245);
color:white;



}
#mainContainer {
text-align:left;

}

#welcomeMessage {
padding-left: 50px;
padding-top: 20px;

}
.navBar-menu {
color: white;
}